:root{
  --base-clr: #616161;
  --base-body-bg:#F3F7FA;
  --d-light-mode:block;
}
/* System Dark Mode */
@media (prefers-color-scheme: dark){
  :root{
    --base-clr: #B8B8B8;
    --base-body-bg:#111111;
    --d-light-mode:none;
  }
  .light-mode{
    --base-clr: #616161;
    --base-body-bg:#F3F7FA;
  }
}