:root,html.light-mode{
  /* Smooth UI */
  --th-transition-smooth: all .25s cubic-bezier(.4,0,.2,1);

  /* Expo */
  --th-transition-expo-out: all .5s cubic-bezier(0.16,1,0.3,1);
  --th-transition-expo-in: all .5s cubic-bezier(0.7,0,0.84,0);

  /* Back */
  --th-transition-back-out: all .3s cubic-bezier(0.34,1.56,0.64,1);
  --th-transition-back-in: all .3s cubic-bezier(0.36,0,0.66,-0.56);
  /* Brand */
  --themeic-primary:#6155F5;
  --themeic-secondary:#C1ED00;

  /* Static */
  --themeic-white:#fff;
  --themeic-black:#000;

  /* Mode helpers */
  --themeic-show-light:block;
  --themeic-show-dark:none;

  /* Background */
  --themeic-submenu-bg:#ffffff;
  --themeic-submenu-item-bg:#dee5ea;
  --themeic-bg-body:#F3F7FA;
  --themeic-bg-on-base-rgb:255, 255, 255;
  --themeic-color-alpha:1;
  --themeic-bg-on-base:rgba(var(--themeic-bg-on-base-rgb), var(--themeic-color-alpha));
  --themeic-bg-primary-inverse:#000000;
  --themeic-bg-muted: var(--themeic-border-muted-extra);
  --themeic-bg-gradient-muted-opacity-top:1;
  --themeic-bg-gradient-muted:linear-gradient(to bottom, rgba(255,255,255, var(--themeic-bg-gradient-muted-opacity-top)) 0%,rgba(243,247,250,1) 100%);

  /* Text */
  --themeic-text-primary:#000;
  --themeic-text-primary-inverse:#ffffff;
  --themeic-text-secondary:#616161;
  --themeic-text-muted:rgba(0,0,0,0.45);
  --themeic-text-disabled:rgba(0,0,0,0.3);

  /* Border */
  --themeic-border-strong:#000;
  --themeic-border:#e6e6e6;
  --themeic-border-muted:rgba(0,0,0,0.16);
  --themeic-border-muted-extra:rgba(0, 0, 0, 0.05);
  --themeic-border-subtle:rgba(0,0,0,0.08);

  --themeic-ff-headings:"Big Shoulders", sans-serif;
  --themeic-ff-base:"Sora", sans-serif;
}
/* System Dark Mode */
@media (prefers-color-scheme: dark){
  :root{
    --themeic-submenu-item-bg:hsla(0,0%,100%,.125);
    --themeic-submenu-bg:#222;
    --themeic-bg-body:#111111; 
    --themeic-bg-on-base-rgb:29, 29, 29;
    --themeic-bg-primary-inverse:#fff;
    --themeic-bg-gradient-muted:linear-gradient(to bottom, rgba(21, 21, 21, var(--themeic-bg-gradient-muted-opacity-top)) 0%,rgb(17, 17, 17) 100%);

    --themeic-show-light:none;
    --themeic-show-dark:block;

    --themeic-text-primary:#ffffff;
    --themeic-text-primary-inverse:#000000;
    --themeic-text-secondary:rgba(255,255,255,0.7);
    --themeic-text-muted:rgba(255,255,255,0.45);
    --themeic-text-disabled:rgba(255,255,255,0.3);

    --themeic-border-strong:#ffffff;
    --themeic-border:#333;
    --themeic-border-muted:rgba(255,255,255,0.16);
    --themeic-border-muted-extra:rgba(255, 255, 255, 0.05);
    --themeic-border-subtle:rgba(255,255,255,0.08);
  }
}

