@charset "UTF-8";
/*--------------------------------------------------------------
>>> WebWiz – AJAX Portfolio WordPress Theme
----------------------------------------------------------------

[Table of Contents]

1. Global
1. Base
	- Variables
	- Colors
	- Typography
	- Links  
	- Forms
2. Layouts & Components
	- Buttons
	- Navigation
	- Header
	- Page Hero


*/
/*global styles*/
:root, html.light-mode {
  /* Smooth UI */
  --th-transition-smooth: all .25s cubic-bezier(.4,0,.2,1);
  /* Expo */
  --th-transition-expo-out: all .5s cubic-bezier(0.16,1,0.3,1);
  --th-transition-expo-in: all .5s cubic-bezier(0.7,0,0.84,0);
  /* Back */
  --th-transition-back-out: all .3s cubic-bezier(0.34,1.56,0.64,1);
  --th-transition-back-in: all .3s cubic-bezier(0.36,0,0.66,-0.56);
  /* Brand */
  --themeic-primary:#6155F5;
  --themeic-secondary:#C1ED00;
  /* Static */
  --themeic-white:#fff;
  --themeic-black:#000;
  /* Mode helpers */
  --themeic-show-light:block;
  --themeic-show-dark:none;
  /* Background */
  --themeic-submenu-bg:#ffffff;
  --themeic-submenu-item-bg:#dee5ea;
  --themeic-bg-body:#F3F7FA;
  --themeic-bg-on-base-rgb:255, 255, 255;
  --themeic-color-alpha:1;
  --themeic-bg-on-base:rgba(var(--themeic-bg-on-base-rgb), var(--themeic-color-alpha));
  --themeic-bg-primary-inverse:#000000;
  --themeic-bg-muted: var(--themeic-border-muted-extra);
  --themeic-bg-gradient-muted-opacity-top:1;
  --themeic-bg-gradient-muted:linear-gradient(to bottom, rgba(255,255,255, var(--themeic-bg-gradient-muted-opacity-top)) 0%,rgba(243,247,250,1) 100%);
  /* Text */
  --themeic-text-primary:#000;
  --themeic-text-primary-inverse:#ffffff;
  --themeic-text-secondary:#616161;
  --themeic-text-muted:rgba(0,0,0,0.45);
  --themeic-text-disabled:rgba(0,0,0,0.3);
  /* Border */
  --themeic-border-strong:#000;
  --themeic-border:#e6e6e6;
  --themeic-border-muted:rgba(0,0,0,0.16);
  --themeic-border-muted-extra:rgba(0, 0, 0, 0.05);
  --themeic-border-subtle:rgba(0,0,0,0.08);
  --themeic-ff-headings:"Big Shoulders", sans-serif;
  --themeic-ff-base:"Sora", sans-serif;
}

/* System Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --themeic-submenu-item-bg:hsla(0,0%,100%,.125);
    --themeic-submenu-bg:#222;
    --themeic-bg-body:#111111;
    --themeic-bg-on-base-rgb:29, 29, 29;
    --themeic-bg-primary-inverse:#fff;
    --themeic-bg-gradient-muted:linear-gradient(to bottom, rgba(21, 21, 21, var(--themeic-bg-gradient-muted-opacity-top)) 0%,rgb(17, 17, 17) 100%);
    --themeic-show-light:none;
    --themeic-show-dark:block;
    --themeic-text-primary:#ffffff;
    --themeic-text-primary-inverse:#000000;
    --themeic-text-secondary:rgba(255,255,255,0.7);
    --themeic-text-muted:rgba(255,255,255,0.45);
    --themeic-text-disabled:rgba(255,255,255,0.3);
    --themeic-border-strong:#ffffff;
    --themeic-border:#333;
    --themeic-border-muted:rgba(255,255,255,0.16);
    --themeic-border-muted-extra:rgba(255, 255, 255, 0.05);
    --themeic-border-subtle:rgba(255,255,255,0.08);
  }
}
/*base styles*/
html {
  font-size: 16px;
}

body {
  line-height: 1.75rem;
  font-family: var(--themeic-ff-base);
  background-color: var(--themeic-bg-body);
  color: var(--themeic-text-secondary);
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }
}

.title-h1, .title-h2, .title-h3, .title-h4, .title-h5, .title-h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.8rem;
  color: var(--themeic-text-primary);
  line-height: 122%;
}

.title-h1, .title-h2, .title-h3, .title-h4, .title-h5, .title-h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--themeic-ff-headings);
}

.auto-title-space {
  margin-bottom: 0.9em;
}

.title-h1, h1 {
  font-size: 3rem;
}
@media (min-width: 1200px) {
  .title-h1, h1 {
    font-size: 8rem;
  }
}
@media (max-width: 767.9px) {
  .title-h1, h1 {
    font-size: 4rem;
  }
}

.title-h2, h2 {
  font-size: 2.8rem;
}
@media (min-width: 1200px) {
  .title-h2, h2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 767.9px) {
  .title-h2, h2 {
    font-size: 2.3rem;
  }
}

.title-h3, h3 {
  font-size: 2.8rem;
}
@media (min-width: 1200px) {
  .title-h3, h3 {
    font-size: 3.25rem;
  }
}
@media (max-width: 767.9px) {
  .title-h3, h3 {
    font-size: 2.3rem;
  }
}

.title-h4, h4, .comment-reply-title, .comments-title {
  font-size: 1.625rem;
}
@media (min-width: 1200px) {
  .title-h4, h4, .comment-reply-title, .comments-title {
    font-size: 2rem;
  }
}

.title-h5, h5 {
  font-size: 1.55rem;
}
@media (min-width: 1200px) {
  .title-h5, h5 {
    font-size: 1.75rem;
  }
}

.title-h6, h6, .comments-area .comment-author {
  font-size: 1.125rem;
}
@media (min-width: 1200px) {
  .title-h6, h6, .comments-area .comment-author {
    font-size: 1.25rem;
  }
}

.text-lg {
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .text-lg {
    font-size: 1.125rem;
  }
}
.text-lg {
  line-height: 130%;
}

.text-md {
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .text-md {
    font-size: 0.875rem;
  }
}
.text-md {
  line-height: 130%;
}

.text-sm, .comment-metadata > a {
  line-height: 130%;
  font-size: 0.69rem;
}
@media (min-width: 992px) {
  .text-sm, .comment-metadata > a {
    font-size: 0.75rem;
  }
}

.display-h1 {
  line-height: 103%;
}
@media (min-width: 1400px) {
  .display-h1 {
    font-size: 12.5rem;
  }
}
@media (max-width: 1399.9px) {
  .display-h1 {
    font-size: 8.5rem;
  }
}
@media (max-width: 767.9px) {
  .display-h1 {
    font-size: 4rem;
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.text-sora {
  font-family: "Sora", sans-serif;
}

.text-big-shoulders {
  font-family: "Sora", sans-serif;
}

/*Helper Class*/
.container-fluid, .header-container {
  padding-inline: 1rem;
}
@media (min-width: 1400px) {
  .container-fluid, .header-container {
    padding-inline: 3.3rem;
  }
}

@media (max-width: 1399.9px) {
  .container-fluid, .header-container, .container {
    padding-inline: 1.5rem;
  }
}

.th-show-light {
  display: var(--themeic-show-light);
}

.th-show-dark {
  display: var(--themeic-show-dark);
}

.th-text-primary-brand {
  color: var(--themeic-primary);
}

.th-text-secondary-brand {
  color: var(--themeic-secondary);
}

.th-bg-primary {
  background-color: var(--themeic-primary);
}

.th-bg-secondary {
  background-color: var(--themeic-secondary);
}

.th-text-white {
  color: var(--themeic-white);
}

.th-text-black {
  color: var(--themeic-black);
}

.th-bg-white {
  background-color: var(--themeic-white);
}

.th-bg-black {
  background-color: var(--themeic-black);
}

.th-bg-body {
  background-color: var(--themeic-bg-body);
}

.th-text-primary {
  color: var(--themeic-text-primary);
}

.th-text-secondary {
  color: var(--themeic-text-secondary);
}

.th-text-muted {
  color: var(--themeic-text-muted);
}

.th-text-disabled {
  color: var(--themeic-text-disabled);
}

.th-border {
  border-color: var(--themeic-border);
}

.th-border-strong {
  border-color: var(--themeic-border-strong);
}

.th-border-muted {
  border-color: var(--themeic-border-muted);
}

.th-border-subtle {
  border-color: var(--themeic-border-subtle);
}

.mr-space-12 {
  margin-right: 1.4rem !important;
}

.ml-space-12 {
  margin-left: 1.4rem !important;
}

@media (min-width: 992px) {
  .mr-space-12 {
    margin-right: 3.313rem !important;
  }
  .ml-space-12 {
    margin-left: 3.313rem !important;
  }
}
@media (min-width: 1200px) {
  .mr-space-12 {
    margin-right: 6rem !important;
  }
  .ml-space-12 {
    margin-left: 6rem !important;
  }
}
@media (min-width: 1400px) {
  .mr-space-12 {
    margin-right: 12.5rem !important;
  }
  .ml-space-12 {
    margin-left: 12.5rem !important;
  }
}
.pr-space-12 {
  padding-right: 1.4rem !important;
}

.pl-space-12 {
  padding-left: 1.4rem !important;
}

@media (min-width: 992px) {
  .pr-space-12 {
    padding-right: 3.313rem !important;
  }
  .pl-space-12 {
    padding-left: 3.313rem !important;
  }
}
@media (min-width: 1200px) {
  .pr-space-12 {
    padding-right: 6rem !important;
  }
  .pl-space-12 {
    padding-left: 6rem !important;
  }
}
@media (min-width: 1400px) {
  .pr-space-12 {
    padding-right: 12.5rem !important;
  }
  .pl-space-12 {
    padding-left: 12.5rem !important;
  }
}
.gap-x-53 {
  column-gap: 1.4rem;
}
@media (min-width: 992px) {
  .gap-x-53 {
    column-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .gap-x-53 {
    column-gap: 3.313rem;
  }
}

.gap-2 {
  gap: 1rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-x-4 {
  column-gap: 2rem;
}

.gap-y-4 {
  row-gap: 2rem;
}

.gap-x-2 {
  column-gap: 1rem;
}

.gap-y-2 {
  row-gap: 1rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-x-1 {
  column-gap: 0.5rem;
}

.gap-y-1 {
  row-gap: 0.5rem;
}

.max-w-550 {
  max-width: 550px;
}

.text-center {
  text-align: center;
}

.bg-grd-muted {
  background: var(--themeic-bg-gradient-muted);
}

.sec-space-y, .sec-space-top, .sec-space-bottom {
  --space:4rem;
}
@media (min-width: 1200px) {
  .sec-space-y, .sec-space-top, .sec-space-bottom {
    --space:6.9rem;
  }
}
@media (max-width: 767.9px) {
  .sec-space-y, .sec-space-top, .sec-space-bottom {
    --space:3.3rem;
  }
}
.sec-space-y.sec-md-space, .sec-space-top.sec-md-space, .sec-space-bottom.sec-md-space {
  --space:4.25rem;
}

.sec-space-y {
  padding-block: var(--space);
}

.sec-space-top {
  padding-top: var(--space);
}

.sec-space-bottom {
  padding-bottom: var(--space);
}

.sec-rounded {
  border-radius: 4rem;
}
@media (min-width: 1200px) {
  .sec-rounded {
    border-radius: 6.25rem;
  }
}
@media (max-width: 767.9px) {
  .sec-rounded {
    border-radius: 2.5rem;
  }
}

.max-w-350 {
  max-width: 350px;
}

.single-post-content {
  margin-top: 2.2rem;
}

.themeic-comment-section {
  margin-top: 8.313rem;
}

.bg-white {
  background-color: #fff;
}

.bg-base {
  background: var(--themeic-bg-body);
}

.bg-on-base {
  background-color: rgba(var(--themeic-bg-on-base-rgb), 1);
}

/*Buttons styles*/
.btn-theme-toggle, .btn-menu-toggle, .btn-transparent {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.btn-th-primary, .btn-theme-toggle, .btn-menu-toggle, .btn-transparent, .th-btn {
  outline: none;
  cursor: pointer;
}
.btn-th-primary svg, .btn-theme-toggle svg, .btn-menu-toggle svg, .btn-transparent svg, .th-btn svg {
  color: currentColor;
}

.btn-theme-toggle {
  padding: 12px 0;
  transition: var(--th-transition-expo-out);
}
.btn-theme-toggle .tgl-icon {
  display: inline-block;
}
.btn-theme-toggle:hover, .btn-theme-toggle:focus {
  border-color: transparent;
}
.btn-theme-toggle:hover {
  transform: scale(1.2);
}
.btn-theme-toggle svg path {
  fill: currentColor;
}

.btn-menu-toggle {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 0.81rem;
  font-weight: 400;
  transition: var(--th-transition-expo-out);
  color: var(--themeic-text-primary);
  border-radius: 5px;
}
@media (min-width: 768px) {
  .btn-menu-toggle {
    font-size: 0.9rem;
  }
}
.btn-menu-toggle:hover, .btn-menu-toggle:focus {
  border-color: transparent;
}
.btn-menu-toggle .menu-text {
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  --open-close-y:calc(100% + 10px);
  display: block;
}
.btn-menu-toggle .menu-text .close, .btn-menu-toggle .menu-text .open {
  transition: var(--th-transition-expo-out);
  display: block;
}
.btn-menu-toggle .menu-text .close {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(var(--open-close-y));
}
.btn-menu-toggle .menu-line2 {
  display: block;
  position: relative;
  height: 0.7638888em;
  width: 3.47222em;
}
.btn-menu-toggle .menu-line2::before, .btn-menu-toggle .menu-line2::after {
  content: "";
  background-color: currentColor;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  transition: var(--th-transition-expo-out);
}
.btn-menu-toggle .menu-line2::before {
  top: 1px;
}
.btn-menu-toggle .menu-line2::after {
  bottom: 1px;
}
.btn-menu-toggle.active .menu-text .open {
  transform: translateY(calc(-1 * var(--open-close-y)));
}
.btn-menu-toggle.active .menu-text .close {
  transform: translateY(-50%);
  top: 50%;
}
.btn-menu-toggle.active .menu-line2::before {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.btn-menu-toggle.active .menu-line2::after {
  transform: translateY(50%);
  bottom: 50%;
}

.btn-menu-toggle.with-border {
  border: 1px solid var(--themeic-border-muted);
  padding: 0.416em 1.805em;
}
.btn-menu-toggle.with-border:hover {
  border-color: var(--themeic-border-strong);
}

.th-btn, .th-btn-inner, .comment-edit-link, .comment-reply-link {
  display: inline-flex;
  align-items: center;
  gap: 0.9rem;
}

.th-btn, .comment-edit-link, .comment-reply-link, .comments-area .comment-form input[type=submit] {
  border: 1px solid var(--themeic-border-muted);
  color: var(--themeic-text-primary);
  text-decoration: none;
  font-size: 0.875rem;
  padding: 0.55rem 2.2rem;
  line-height: 175%;
  font-family: var(--themeic-ff-base);
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 992px) {
  .th-btn, .comment-edit-link, .comment-reply-link, .comments-area .comment-form input[type=submit] {
    font-size: 1rem;
    padding: 0.688rem 3.188rem;
  }
}
.th-btn, .comment-edit-link, .comment-reply-link, .comments-area .comment-form input[type=submit] {
  border-radius: 20rem;
  transition: var(--th-transition-expo-out);
}
.th-btn .btn-text, .comment-edit-link .btn-text, .comment-reply-link .btn-text, .comments-area .comment-form input[type=submit] .btn-text {
  overflow: hidden;
}
.th-btn span, .comment-edit-link span, .comment-reply-link span, .comments-area .comment-form input[type=submit] span {
  display: inline-block;
}
.th-btn .btn-text .word, .th-btn .btn-text .char, .comment-edit-link .btn-text .word, .comment-edit-link .btn-text .char, .comment-reply-link .btn-text .word, .comment-reply-link .btn-text .char, .comments-area .comment-form input[type=submit] .btn-text .word, .comments-area .comment-form input[type=submit] .btn-text .char {
  transition: var(--th-transition-expo-out);
  text-shadow: 0 2em 0 currentColor;
}
.th-btn i, .comment-edit-link i, .comment-reply-link i, .comments-area .comment-form input[type=submit] i {
  position: relative;
  overflow: hidden;
  margin-left: -0.3em;
  margin-right: -0.3em;
}
.th-btn i::after, .th-btn i .icon-2, .th-btn i::before, .th-btn i .icon-1, .comment-edit-link i::after, .comment-edit-link i .icon-2, .comment-edit-link i::before, .comment-edit-link i .icon-1, .comment-reply-link i::after, .comment-reply-link i .icon-2, .comment-reply-link i::before, .comment-reply-link i .icon-1, .comments-area .comment-form input[type=submit] i::after, .comments-area .comment-form input[type=submit] i .icon-2, .comments-area .comment-form input[type=submit] i::before, .comments-area .comment-form input[type=submit] i .icon-1 {
  transition: var(--th-transition-expo-out);
  display: block;
  padding: 0 0.3em;
}
.th-btn i::after, .th-btn i .icon-2, .comment-edit-link i::after, .comment-edit-link i .icon-2, .comment-reply-link i::after, .comment-reply-link i .icon-2, .comments-area .comment-form input[type=submit] i::after, .comments-area .comment-form input[type=submit] i .icon-2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
}
.th-btn:hover, .comment-edit-link:hover, .comment-reply-link:hover, .comments-area .comment-form input[type=submit]:hover {
  background-color: var(--themeic-border-muted-extra);
  border-color: transparent;
}
.th-btn:hover .btn-text .word, .th-btn:hover .btn-text .char, .comment-edit-link:hover .btn-text .word, .comment-edit-link:hover .btn-text .char, .comment-reply-link:hover .btn-text .word, .comment-reply-link:hover .btn-text .char, .comments-area .comment-form input[type=submit]:hover .btn-text .word, .comments-area .comment-form input[type=submit]:hover .btn-text .char {
  transform: translateY(-2em);
}
.th-btn:hover i .icon-2, .th-btn:hover i:after, .comment-edit-link:hover i .icon-2, .comment-edit-link:hover i:after, .comment-reply-link:hover i .icon-2, .comment-reply-link:hover i:after, .comments-area .comment-form input[type=submit]:hover i .icon-2, .comments-area .comment-form input[type=submit]:hover i:after {
  transform: translateX(0);
}
.th-btn:hover i .icon-1, .th-btn:hover i:before, .comment-edit-link:hover i .icon-1, .comment-edit-link:hover i:before, .comment-reply-link:hover i .icon-1, .comment-reply-link:hover i:before, .comments-area .comment-form input[type=submit]:hover i .icon-1, .comments-area .comment-form input[type=submit]:hover i:before {
  transform: translateX(100%);
}

.th-btn.btn-sm, .comment-edit-link {
  font-size: 0.75rem;
  padding: 8px 20px;
  border-radius: 5px;
  line-height: 100%;
}

.th-btn.btn-md, .comment-reply-link {
  font-size: 0.875rem;
  padding: 12px 27px;
  line-height: 100%;
}

.th-btn.th-btn-primary, .comments-area .comment-form input[type=submit] {
  background-color: var(--themeic-bg-primary-inverse);
  border-color: transparent;
  color: var(--themeic-text-primary-inverse);
}
.th-btn.th-btn-primary:hover, .comments-area .comment-form input[type=submit]:hover {
  background-color: transparent;
  border-color: var(--themeic-bg-primary-inverse);
  color: var(--themeic-text-primary);
}

.th-btn.th-btn-secondary, .comment-edit-link {
  background-color: var(--themeic-bg-muted);
  border-color: transparent;
}
.th-btn.th-btn-secondary:hover, .comment-edit-link:hover {
  background-color: var(--themeic-bg-primary-inverse);
  color: var(--themeic-text-primary-inverse);
}

.btn-grp-wrap {
  display: flex;
  gap: 0.6rem;
}

/*header styles*/
.burger-navbar, .burger-navbar ul, .header-navbar ul, .header-navbar, .social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-container {
  padding-block: 1rem;
}
.header-container .logo {
  display: block;
}
.header-container .logo img {
  max-width: 3.75rem;
}
@media (min-width: 768px) {
  .header-container .logo img {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .header-container {
    padding-block: 0rem;
  }
}

.header-gap-12 {
  gap: 8rem;
}
@media (min-width: 1400px) {
  .header-gap-12 {
    gap: 12.5rem;
  }
}

.header-area-wrap, .header-area {
  position: relative;
  z-index: 999;
}

.header-area {
  transition: var(--th-transition-expo-out);
}

.header-overlay, .burger-menu-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: var(--th-transition-expo-out);
}

.burger-menu-overlay {
  z-index: 3;
}

.header-area-wrap.absolute-header, .header-area-wrap.fixed-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header-area-wrap.fixed-header {
  position: fixed;
}
.header-area-wrap.active-sub-menu .header-area {
  background-color: var(--themeic-bg-body);
}
.header-area-wrap.active-sub-menu .header-overlay {
  opacity: 1;
  visibility: visible;
}
.header-area-wrap.active-burger-menu .burger-menu-overlay {
  opacity: 1;
  visibility: visible;
}
.header-area-wrap .btn-menu-toggle, .header-area-wrap .toggle-btn-wrap {
  position: relative;
  z-index: 5;
}

.admin-bar .header-area-wrap.fixed-header {
  margin-top: 32px;
}

.header-area-wrap.active-sub-menu .header-overlay, .header-area-wrap.active-burger-menu .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 50px;
  --sub-padding:15px;
  --sub-space:10px;
  --child-sub-space:0px;
  --sub-min-w:250px;
}
.header-navbar li {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.header-navbar li > a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
  line-height: 115%;
  color: var(--themeic-text-primary);
  padding: 2.5rem 0;
  position: relative;
  transition: all 0.25s;
  white-space: nowrap;
  text-decoration: none;
}
.header-navbar li .angle__down {
  font-size: 14px;
  margin-left: 7px;
}
.header-navbar li .sub-menu {
  margin: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: max-content;
  min-width: calc(var(--sub-min-w));
  text-align: left;
  padding-top: calc(var(--sub-padding) + var(--sub-space));
  padding-bottom: var(--sub-padding);
  padding-inline: var(--sub-padding);
  opacity: 0;
  visibility: hidden;
  transition: var(--th-transition-expo-out);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
.header-navbar li .sub-menu > li {
  --index:0;
  transform: translateY(15px);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: calc(var(--index) * 0.04s);
  opacity: 0;
}
.header-navbar li .sub-menu::before {
  content: "";
  height: calc(100% - var(--sub-space));
  width: 100%;
  right: 0;
  top: var(--sub-space);
  background-color: var(--themeic-bg-body);
  z-index: 0;
  position: absolute;
  border-radius: 8px;
  transform: scale(0.8);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.header-navbar li .sub-menu .sub-menu {
  padding: var(--sub-padding);
  min-width: calc((var(--sub-min-w)) + var(--sub-padding) + var(--sub-space) + var(--child-sub-space));
}
.header-navbar li .sub-menu .sub-menu > li {
  padding-left: calc(var(--sub-padding) + var(--sub-space) + var(--child-sub-space));
}
.header-navbar li .sub-menu .sub-menu::before {
  top: 0;
  width: calc(100% - (var(--sub-padding) + var(--sub-space) + var(--child-sub-space)));
  height: 100%;
}
.header-navbar li .sub-menu > li > a {
  padding: 13px 17px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header-navbar li .sub-menu > li > a::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--themeic-submenu-item-bg);
  z-index: -1;
  position: absolute;
  border-radius: 8px;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.header-navbar li .sub-menu > li > a:hover::before {
  transform: scale(1);
  opacity: 1;
}
.header-navbar li .sub-menu > li .angle__down {
  margin-left: auto;
  padding-left: 10px;
  transform: rotate(-90deg);
}
.header-navbar li .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.header-navbar li .mega-menu-item {
  position: absolute;
  top: 0;
  left: var(--offset-left);
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: -1;
}
.header-navbar li .mega-menu-item ul {
  padding: 0;
  border-top: 0;
  background-color: transparent;
}
.header-navbar li .mega-menu-item ul li a {
  color: #fff;
  padding: 0;
}
.header-navbar.menu-text-secondary li a {
  color: var(--themeic-text-secondary);
}
.header-navbar.menu-text-secondary li:hover a {
  color: var(--themeic-text-primary);
}
.header-navbar .menu-item.has-mega-menu {
  z-index: 1;
}
.header-navbar li:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header-navbar li:hover > .sub-menu > li {
  transform: translateY(0);
  opacity: 1;
}
.header-navbar li:hover > .sub-menu::before {
  transform: scale(1);
}
.header-navbar li:hover > .mega-menu-item {
  opacity: 1;
  visibility: visible;
}
.header-navbar li .sub-menu li:hover > .sub-menu {
  top: 0;
}
.header-navbar.vertical-navbar {
  flex-direction: column;
  gap: 0;
}
.header-navbar.vertical-navbar li {
  width: 100%;
}
.header-navbar.vertical-navbar li a {
  padding: 5px 0;
}
.header-navbar.vertical-navbar li > .sub-menu {
  display: none;
}
.header-navbar.nav-style-rounded {
  border-radius: 30rem;
  padding: 0.7rem;
  gap: 0.5rem;
  --sub-space:1.25rem;
  --child-sub-space: -8px;
  background-color: rgba(var(--themeic-bg-on-base-rgb), 0.8);
  backdrop-filter: blur(10px);
}
.header-navbar.nav-style-rounded li > a {
  padding: 0.5rem 0.75rem;
  border-radius: 30rem;
}
.header-navbar.nav-style-rounded li.current-menu-item > a {
  background-color: var(--themeic-bg-primary-inverse);
  color: var(--themeic-text-primary-inverse);
}
.header-navbar.nav-style-rounded .sub-menu::before {
  background-color: rgba(var(--themeic-bg-on-base-rgb), 1);
}
.header-navbar.navbar-abs-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.themeic-burger-navbar-wrap {
  --initial-top:20px;
  --initial-right:20px;
  --toggle-btn-x:-1rem;
  --toggle-btn-y:2.188rem;
  --top:20px;
  --right:20px;
  position: absolute;
  right: var(--initial-right);
  top: var(--initial-top);
  z-index: 4;
  background-color: var(--themeic-bg-body);
  overflow: hidden;
  display: flex;
  justify-content: end;
  border-radius: 15px;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767.9px) {
  .themeic-burger-navbar-wrap {
    width: calc(100% - var(--top) * 2);
  }
}
@media (max-width: 1399.9px) {
  .themeic-burger-navbar-wrap {
    --toggle-btn-x:-3.4rem;
    --toggle-btn-y:2.62rem;
  }
}
@media (max-width: 767.9px) {
  .themeic-burger-navbar-wrap {
    --toggle-btn-x:-2.2rem;
    --toggle-btn-y:1.85rem;
  }
}
.themeic-burger-navbar-wrap .burger-menu-header {
  margin-bottom: 1.875rem;
}
.themeic-burger-navbar-wrap .burger-menu-inner {
  max-height: calc(100vh - var(--top) * 2);
  overflow-y: auto;
}
@media (min-width: 768px) {
  .themeic-burger-navbar-wrap .burger-menu-inner {
    min-width: 600px;
    padding: 3.125rem;
  }
}
@media (max-width: 767.9px) {
  .themeic-burger-navbar-wrap .burger-menu-inner {
    width: 100%;
    padding: 2rem;
  }
}

.burger-navbar {
  font-size: 3.25rem;
}
@media (max-width: 767.9px) {
  .burger-navbar {
    font-size: 2rem;
  }
}
.burger-navbar li {
  position: relative;
}
.burger-navbar li a {
  color: var(--themeic-text-primary);
  text-decoration: none;
  display: block;
  padding: 0.8rem 0;
  font-size: 1em;
  line-height: 120%;
}
@media (max-width: 767.9px) {
  .burger-navbar li a {
    padding: 0.5rem 0;
  }
}
.burger-navbar li .sub-menu {
  font-size: 0.6em;
  padding-left: 1.5rem;
  display: none;
}
.burger-navbar li .sub-menu li > a {
  padding: 0.4rem 0;
}

.plusminus-icon {
  position: absolute;
  height: var(--height);
  width: var(--height);
  top: 0;
  right: 0;
  z-index: 5;
}
.plusminus-icon.active:before {
  transform: translatey(-50%) rotate(-90deg);
  opacity: 0;
}
.plusminus-icon.active:after {
  transform: translatey(-50%) rotate(0);
}
.plusminus-icon:before, .plusminus-icon:after {
  content: "";
  display: block;
  background-color: #333;
  position: absolute;
  top: 50%;
  right: 0;
  transition: 0.35s;
  width: 50%;
  height: 2px;
}
.plusminus-icon:before {
  transform: translatey(-50%);
}
.plusminus-icon:after {
  transform: translatey(-50%) rotate(90deg);
}

.header-py {
  padding-block: 1.25rem;
}

/*Cards styles*/
.post-row-wrap {
  row-gap: 3.125rem;
}

.blog-post-cart .card-title {
  text-decoration: none;
  margin-top: 1.2rem;
  margin-bottom: 2.2rem;
}
.blog-post-cart .thumbnail {
  margin-bottom: 1.8rem;
}

.author__block {
  line-height: 150%;
  gap: 1rem;
  text-transform: capitalize;
}
.author__block > img {
  height: 1em;
  width: 1em;
  min-width: 1em;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  font-size: 2.5rem;
}
.author__block .author-info > a {
  font-size: 0.8rem;
  color: var(--themeic-text-primary);
  text-decoration: none;
  font-weight: 600;
}
@media (min-width: 992px) {
  .author__block .author-info > a {
    font-size: 0.875rem;
  }
}

/*Breadcrumb Style*/
.breadcrumb {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.breadcrumb > li::after {
  content: "/";
  display: inline-block;
  margin: 0 0.3em;
}
.breadcrumb > li:last-child::after {
  display: none;
}
.breadcrumb a {
  text-decoration: none;
  font-size: 1em;
  color: var(--themeic-text-primary);
}

.social-icons {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.social-icons a {
  color: var(--themeic-text-secondary);
  text-decoration: none;
}

/*Hero Style*/
.page-hero {
  --space-y:4rem;
  --space-top-extra:0rem;
  --space-bottom-extra:0rem;
}
@media (min-width: 1200px) {
  .page-hero {
    --space-y:6.9rem;
  }
}
@media (max-width: 767.9px) {
  .page-hero {
    --space-y:3.3rem;
  }
}
.page-hero:not(.bg-base) {
  background: var(--themeic-bg-gradient-muted);
}
.page-hero {
  padding-top: calc(var(--space-y) + var(--space-top-extra));
  padding-bottom: calc(var(--space-y) + var(--space-bottom-extra));
}
.page-hero .title {
  margin-bottom: 4.4rem;
}
.page-hero.has-abs-header {
  --space-top-extra:5rem;
}
@media (max-width: 991.9px) {
  .page-hero.has-abs-header {
    --space-top-extra:2.7rem;
  }
}

/*Themeic Icons*/
.comments-area .comment-form > p {
  margin-bottom: 1.188rem;
}
.comments-area .comment-form > p > label {
  margin-bottom: 4px;
  display: block;
}
.comments-area .comment-form > p.comment-form-cookies-consent > label {
  margin-bottom: 0;
}
.comments-area .comment-form .form-submit {
  margin-bottom: 0;
  margin-top: 2.5rem;
}
.comments-area .comment-respond a {
  color: currentColor;
}
.comments-area .comment-respond a:hover {
  color: var(--themeic-text-primary);
}
.comments-area .comment-reply-title small {
  font-size: 0.5em;
  display: inline-block;
  margin-left: 5px;
  font-family: var(--themeic-ff-base);
  line-height: 1;
}
.comments-area .comment-reply-title small a {
  color: var(--themeic-text-primary);
}
.comments-area .comment-respond {
  margin-top: 2.5rem;
}
.comments-area .comment-list, .comments-area .children {
  padding: 0;
  margin: 0;
  list-style: none;
  --avatar-space-left: 118px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.comments-area .comment-list > .comment, .comments-area .children > .comment {
  position: relative;
  padding-left: var(--avatar-space-left);
}
.comments-area .comment-list > .comment:not(:last-child), .comments-area .children > .comment:not(:last-child) {
  border-bottom: 1px solid var(--themeic-border-muted);
  padding-bottom: 2.188rem;
  margin-bottom: 2.188rem;
}
.comments-area .children {
  margin-bottom: 0;
}
.comments-area .comment-author {
  font-family: var(--themeic-ff-headings);
}
.comments-area .comment-author a {
  color: var(--themeic-text-primary);
  text-decoration: none;
}
.comments-area .comment-author span.says {
  display: none;
}
.comments-area .comment-author > .avatar {
  position: absolute;
  left: calc(-1 * var(--avatar-space-left));
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.comments-area .comment-edit-link {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.comments-area .comment-meta {
  position: relative;
  margin-bottom: 0.625rem;
}
.comments-area .comment-content {
  margin-bottom: 23px;
}
.comments-area .comment-metadata {
  line-height: 1;
  margin-top: 0.188rem;
}
.comments-area .comment-metadata > a {
  color: var(--themeic-text-secondary);
  text-decoration: none;
}

/*Themeic Icons*/
.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
  position: relative;
}
.comment-form-comment > label .required, .comment-form-author > label .required, .comment-form-email > label .required, .comment-form-url > label .required {
  color: #EF4620;
}
.comment-form-comment input, .comment-form-comment textarea, .comment-form-author input, .comment-form-author textarea, .comment-form-email input, .comment-form-email textarea, .comment-form-url input, .comment-form-url textarea {
  border: 1px solid var(--themeic-border-muted);
  border-bottom-color: var(--themeic-border-muted);
  background-color: transparent;
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  height: 54px;
  padding: 0.813rem 1.5rem;
  transition: var(--th-transition-smooth);
  color: var(--themeic-text-primary);
}
.comment-form-comment input:hover, .comment-form-comment input:focus, .comment-form-comment textarea:hover, .comment-form-comment textarea:focus, .comment-form-author input:hover, .comment-form-author input:focus, .comment-form-author textarea:hover, .comment-form-author textarea:focus, .comment-form-email input:hover, .comment-form-email input:focus, .comment-form-email textarea:hover, .comment-form-email textarea:focus, .comment-form-url input:hover, .comment-form-url input:focus, .comment-form-url textarea:hover, .comment-form-url textarea:focus {
  border-color: var(--themeic-border-strong);
}
.comment-form-comment textarea, .comment-form-author textarea, .comment-form-email textarea, .comment-form-url textarea {
  height: 5.625rem;
}

.comment-form-cookies-consent {
  display: flex;
  align-items: start;
  gap: 0.8rem;
}
.comment-form-cookies-consent label {
  margin-bottom: 0;
}
.comment-form-cookies-consent [type=checkbox] {
  height: 1em;
  width: 1em;
  min-width: 1em;
  border: 1px solid var(--themeic-border-strong);
  border-radius: 2px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 0.6em;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.375rem;
}
.comment-form-cookies-consent [type=checkbox]:checked[type=checkbox] {
  background-color: var(--themeic-black);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M30.854,8.146l-3-3c-.195-.195-.512-.195-.707,0l-15.646,15.646-6.646-6.646c-.195-.195-.512-.195-.707,0l-3,3c-.195,.195-.195,.512,0,.707l10,10c.098,.098,.226,.146,.354,.146s.256-.049,.354-.146L30.854,8.854c.195-.195,.195-.512,0-.707Z' fill='%23ffffff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/*Themeic Icons*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/themeic-icon/icomoon.eot?dbr1m1");
  src: url("../fonts/themeic-icon/icomoon.eot?dbr1m1#iefix") format("embedded-opentype"), url("../fonts/themeic-icon/icomoon.ttf?dbr1m1") format("truetype"), url("../fonts/themeic-icon/icomoon.woff?dbr1m1") format("woff"), url("../fonts/themeic-icon/icomoon.svg?dbr1m1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=themeic-icon-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=themeic-icon-]::before {
  color: currentColor;
}

.themeic-icon-phone-ring:before {
  content: "\e90e";
}
.themeic-icon-phone-ring.themeic-icon-after::after {
  content: "\e90e";
}

.themeic-icon-search:before {
  content: "\e90c";
}
.themeic-icon-search.themeic-icon-after::after {
  content: "\e90c";
}

.themeic-icon-date:before {
  content: "\e90b";
}
.themeic-icon-date.themeic-icon-after::after {
  content: "\e90b";
}

.themeic-icon-color-mode:before {
  content: "\e900";
}
.themeic-icon-color-mode.themeic-icon-after::after {
  content: "\e900";
}

.themeic-icon-facebook:before {
  content: "\e901";
}
.themeic-icon-facebook.themeic-icon-after::after {
  content: "\e901";
}

.themeic-icon-instagram:before {
  content: "\e902";
}
.themeic-icon-instagram.themeic-icon-after::after {
  content: "\e902";
}

.themeic-icon-plus:before {
  content: "\e903";
}
.themeic-icon-plus.themeic-icon-after::after {
  content: "\e903";
}

.themeic-icon-x:before {
  content: "\e904";
}
.themeic-icon-x.themeic-icon-after::after {
  content: "\e904";
}

.themeic-icon-youtube:before {
  content: "\e905";
}
.themeic-icon-youtube.themeic-icon-after::after {
  content: "\e905";
}

.themeic-icon-agnle-up:before {
  content: "\e906";
}
.themeic-icon-agnle-up.themeic-icon-after::after {
  content: "\e906";
}

.themeic-icon-agnle-right:before {
  content: "\e907";
}
.themeic-icon-agnle-right.themeic-icon-after::after {
  content: "\e907";
}

.themeic-icon-agnle-left:before {
  content: "\e908";
}
.themeic-icon-agnle-left.themeic-icon-after::after {
  content: "\e908";
}

.themeic-icon-agnle-down:before {
  content: "\e909";
}
.themeic-icon-agnle-down.themeic-icon-after::after {
  content: "\e909";
}

.themeic-icon-arrow-long-down:before {
  content: "\e90a";
}
.themeic-icon-arrow-long-down.themeic-icon-after::after {
  content: "\e90a";
}

/*# sourceMappingURL=style.css.map */
