@charset "UTF-8";
/*--------------------------------------------------------------
>>> WebWiz – AJAX Portfolio WordPress Theme
----------------------------------------------------------------

[Table of Contents]

1. Global
1. Base
	- Variables
	- Colors
	- Typography
	- Links
	- Forms
2. Layouts & Components
	- Buttons
	- Navigation
	- Header
	- Page Hero


*/
/*global styles*/
:root, html.light-mode {
  /* Smooth UI */
  --th-transition-smooth: all .5s cubic-bezier(.4,0,.2,1);
  /* Expo */
  --th-transition-expo-out: all .5s cubic-bezier(0.16,1,0.3,1);
  --th-transition-expo-in: all .5s cubic-bezier(0.7,0,0.84,0);
  /* Back */
  --th-transition-back-out: all .3s cubic-bezier(0.34,1.56,0.64,1);
  --th-transition-back-in: all .3s cubic-bezier(0.36,0,0.66,-0.56);
  /* Brand */
  --themeic-primary:#6155F5;
  --themeic-secondary:#C1ED00;
  /* Static */
  --themeic-white:#fff;
  --themeic-black:#000;
  /* Mode helpers */
  --themeic-show-light:block;
  --themeic-show-dark:none;
  /* Background */
  --themeic-submenu-bg:#ffffff;
  --themeic-submenu-item-bg:#dee5ea;
  --themeic-bg-body:#F3F7FA;
  /* Text */
  --themeic-text-primary:#000;
  --themeic-text-secondary:#616161;
  --themeic-text-muted:rgba(0,0,0,0.45);
  --themeic-text-disabled:rgba(0,0,0,0.3);
  /* Border */
  --themeic-border-strong:#000;
  --themeic-border:#e6e6e6;
  --themeic-border-muted:rgba(0,0,0,0.16);
  --themeic-border-subtle:rgba(0,0,0,0.08);
}

/* System Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --themeic-submenu-item-bg:hsla(0,0%,100%,.125);
    --themeic-submenu-bg:#222;
    --themeic-bg-body:#111111;
    --themeic-show-light:none;
    --themeic-show-dark:block;
    --themeic-text-primary:#ffffff;
    --themeic-text-secondary:rgba(255,255,255,0.7);
    --themeic-text-muted:rgba(255,255,255,0.45);
    --themeic-text-disabled:rgba(255,255,255,0.3);
    --themeic-border-strong:#ffffff;
    --themeic-border:#333;
    --themeic-border-muted:rgba(255,255,255,0.16);
    --themeic-border-subtle:rgba(255,255,255,0.08);
  }
}
/*base styles*/
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: "Sora", sans-serif;
  background-color: var(--themeic-bg-body);
}

.title-h1, h1 {
  font-size: 8rem;
  line-height: 115%;
  margin: 0;
}

/*Helper Class*/
.th-show-light {
  display: var(--themeic-show-light);
}

.th-show-dark {
  display: var(--themeic-show-dark);
}

.th-text-primary-brand {
  color: var(--themeic-primary);
}

.th-text-secondary-brand {
  color: var(--themeic-secondary);
}

.th-bg-primary {
  background-color: var(--themeic-primary);
}

.th-bg-secondary {
  background-color: var(--themeic-secondary);
}

.th-text-white {
  color: var(--themeic-white);
}

.th-text-black {
  color: var(--themeic-black);
}

.th-bg-white {
  background-color: var(--themeic-white);
}

.th-bg-black {
  background-color: var(--themeic-black);
}

.th-bg-body {
  background-color: var(--themeic-bg-body);
}

.th-text-primary {
  color: var(--themeic-text-primary);
}

.th-text-secondary {
  color: var(--themeic-text-secondary);
}

.th-text-muted {
  color: var(--themeic-text-muted);
}

.th-text-disabled {
  color: var(--themeic-text-disabled);
}

.th-border {
  border-color: var(--themeic-border);
}

.th-border-strong {
  border-color: var(--themeic-border-strong);
}

.th-border-muted {
  border-color: var(--themeic-border-muted);
}

.th-border-subtle {
  border-color: var(--themeic-border-subtle);
}

.mr-space-12 {
  margin-right: 1.4rem !important;
}

.ml-space-12 {
  margin-left: 1.4rem !important;
}

@media (min-width: 992px) {
  .mr-space-12 {
    margin-right: 3.313rem !important;
  }
  .ml-space-12 {
    margin-left: 3.313rem !important;
  }
}
@media (min-width: 1200px) {
  .mr-space-12 {
    margin-right: 6rem !important;
  }
  .ml-space-12 {
    margin-left: 6rem !important;
  }
}
@media (min-width: 1400px) {
  .mr-space-12 {
    margin-right: 12.5rem !important;
  }
  .ml-space-12 {
    margin-left: 12.5rem !important;
  }
}
.pr-space-12 {
  padding-right: 1.4rem !important;
}

.pl-space-12 {
  padding-left: 1.4rem !important;
}

@media (min-width: 992px) {
  .pr-space-12 {
    padding-right: 3.313rem !important;
  }
  .pl-space-12 {
    padding-left: 3.313rem !important;
  }
}
@media (min-width: 1200px) {
  .pr-space-12 {
    padding-right: 6rem !important;
  }
  .pl-space-12 {
    padding-left: 6rem !important;
  }
}
@media (min-width: 1400px) {
  .pr-space-12 {
    padding-right: 12.5rem !important;
  }
  .pl-space-12 {
    padding-left: 12.5rem !important;
  }
}
.gap-x-53 {
  column-gap: 1.4rem;
}
@media (min-width: 992px) {
  .gap-x-53 {
    column-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .gap-x-53 {
    column-gap: 3.313rem;
  }
}

/*base styles*/
.btn-theme-toggle, .btn-menu-toggle, .btn-transparent {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.btn-th-primary, .btn-theme-toggle, .btn-menu-toggle, .btn-transparent, .th-btn {
  outline: none;
  cursor: pointer;
}
.btn-th-primary svg, .btn-theme-toggle svg, .btn-menu-toggle svg, .btn-transparent svg, .th-btn svg {
  color: currentColor;
}

.btn-theme-toggle {
  padding: 12px 0;
  transition: var(--th-transition-expo-out);
}
.btn-theme-toggle .tgl-icon {
  display: inline-block;
}
.btn-theme-toggle:hover, .btn-theme-toggle:focus {
  border-color: transparent;
}
.btn-theme-toggle:hover {
  transform: scale(1.2);
}
.btn-theme-toggle svg path {
  fill: currentColor;
}

.btn-menu-toggle {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 0.81rem;
  font-weight: 400;
  transition: var(--th-transition-expo-out);
  color: var(--themeic-text-primary);
  border-radius: 5px;
}
@media (min-width: 768px) {
  .btn-menu-toggle {
    font-size: 0.9rem;
  }
}
.btn-menu-toggle:hover, .btn-menu-toggle:focus {
  border-color: transparent;
}
.btn-menu-toggle .menu-text {
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  --open-close-y:calc(100% + 10px);
  display: block;
}
.btn-menu-toggle .menu-text .close, .btn-menu-toggle .menu-text .open {
  transition: var(--th-transition-expo-out);
  display: block;
}
.btn-menu-toggle .menu-text .close {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(var(--open-close-y));
}
.btn-menu-toggle .menu-line2 {
  display: block;
  position: relative;
  height: 0.7638888em;
  width: 3.47222em;
}
.btn-menu-toggle .menu-line2::before, .btn-menu-toggle .menu-line2::after {
  content: "";
  background-color: currentColor;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  transition: var(--th-transition-expo-out);
}
.btn-menu-toggle .menu-line2::before {
  top: 1px;
}
.btn-menu-toggle .menu-line2::after {
  bottom: 1px;
}
.btn-menu-toggle.active .menu-text .open {
  transform: translateY(calc(-1 * var(--open-close-y)));
}
.btn-menu-toggle.active .menu-text .close {
  transform: translateY(-50%);
  top: 50%;
}
.btn-menu-toggle.active .menu-line2::before {
  top: 50%;
  transform: translateY(-50%);
}
.btn-menu-toggle.active .menu-line2::after {
  transform: translateY(50%);
  bottom: 50%;
}

.btn-menu-toggle.with-border {
  border: 1px solid var(--themeic-border-muted);
  padding: 0.416em 1.805em;
}
.btn-menu-toggle.with-border:hover {
  border-color: var(--themeic-border-strong);
}

/*base styles*/
.burger-navbar, .burger-navbar ul, .header-navbar ul, .header-navbar, .social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-container {
  padding-inline: 1rem;
  padding-block: 1rem;
}
.header-container .logo {
  display: block;
}
.header-container .logo img {
  max-width: 3.75rem;
}
@media (min-width: 768px) {
  .header-container .logo img {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .header-container {
    padding-block: 0rem;
  }
}
@media (min-width: 1400px) {
  .header-container {
    padding-inline: 3.3rem;
  }
}

.header-gap-12 {
  gap: 8rem;
}
@media (min-width: 1400px) {
  .header-gap-12 {
    gap: 12.5rem;
  }
}

.header-area-wrap, .header-area {
  position: relative;
  z-index: 999;
}

.header-area {
  transition: var(--th-transition-expo-out);
}

.header-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: var(--th-transition-expo-out);
}

.header-area-wrap.active-sub-menu .header-area, .header-area-wrap.active-burger-menu .header-area {
  background-color: var(--themeic-bg-body);
}
.header-area-wrap.active-sub-menu .header-overlay, .header-area-wrap.active-burger-menu .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-area-wrap.active-sub-menu .header-overlay, .header-area-wrap.active-burger-menu .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 50px;
  --sub-padding:15px;
  --sub-space:10px;
  --sub-min-w:250px;
}
.header-navbar li {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.header-navbar li > a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
  line-height: 115%;
  color: var(--themeic-text-primary);
  padding: 2.5rem 0;
  position: relative;
  transition: all 0.25s;
  white-space: nowrap;
  text-decoration: none;
}
.header-navbar li .angle__down {
  font-size: 14px;
  margin-left: 7px;
}
.header-navbar li .sub-menu {
  margin: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: max-content;
  min-width: calc(var(--sub-min-w));
  text-align: left;
  padding-top: calc(var(--sub-padding) + var(--sub-space));
  padding-bottom: var(--sub-padding);
  padding-inline: var(--sub-padding);
  opacity: 0;
  visibility: hidden;
  transition: var(--th-transition-expo-out);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
.header-navbar li .sub-menu > li {
  --index:0;
  transform: translateY(15px);
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: calc(var(--index) * 0.04s);
  opacity: 0;
}
.header-navbar li .sub-menu::before {
  content: "";
  height: calc(100% - var(--sub-space));
  width: 100%;
  right: 0;
  top: var(--sub-space);
  background-color: var(--themeic-bg-body);
  z-index: 0;
  position: absolute;
  border-radius: 8px;
  transform: scale(0.8);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.header-navbar li .sub-menu .sub-menu {
  padding: var(--sub-padding);
  min-width: calc((var(--sub-min-w)) + var(--sub-padding) + var(--sub-space));
}
.header-navbar li .sub-menu .sub-menu > li {
  padding-left: calc(var(--sub-padding) + var(--sub-space));
}
.header-navbar li .sub-menu .sub-menu::before {
  top: 0;
  width: calc(100% - (var(--sub-padding) + var(--sub-space)));
  height: 100%;
}
.header-navbar li .sub-menu > li > a {
  padding: 13px 17px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header-navbar li .sub-menu > li > a::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--themeic-submenu-item-bg);
  z-index: -1;
  position: absolute;
  border-radius: 8px;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.header-navbar li .sub-menu > li > a:hover::before {
  transform: scale(1);
  opacity: 1;
}
.header-navbar li .sub-menu > li .angle__down {
  margin-left: auto;
  padding-left: 10px;
  transform: rotate(-90deg);
}
.header-navbar li .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.header-navbar li .mega-menu-item {
  position: absolute;
  top: 0;
  left: var(--offset-left);
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: -1;
}
.header-navbar li .mega-menu-item ul {
  padding: 0;
  border-top: 0;
  background-color: transparent;
}
.header-navbar li .mega-menu-item ul li a {
  color: #fff;
  padding: 0;
}
.header-navbar.menu-text-secondary li a {
  color: var(--themeic-text-secondary);
}
.header-navbar.menu-text-secondary li:hover a {
  color: var(--themeic-text-primary);
}
.header-navbar .current-menu-parent > a, .header-navbar .current_page_item > a {
  color: var(--clr-base) !important;
  text-decoration: underline;
}
.header-navbar .menu-item.has-mega-menu {
  z-index: 1;
}
.header-navbar li:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header-navbar li:hover > .sub-menu > li {
  transform: translateY(0);
  opacity: 1;
}
.header-navbar li:hover > .sub-menu::before {
  transform: scale(1);
}
.header-navbar li:hover > .mega-menu-item {
  opacity: 1;
  visibility: visible;
}
.header-navbar li .sub-menu li:hover > .sub-menu {
  top: 0;
}
.header-navbar.vertical-navbar {
  flex-direction: column;
  gap: 0;
}
.header-navbar.vertical-navbar li {
  width: 100%;
}
.header-navbar.vertical-navbar li a {
  padding: 5px 0;
}
.header-navbar.vertical-navbar li > .sub-menu {
  display: none;
}

.themeic-burger-navbar-wrap {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: 995;
  background-color: var(--themeic-bg-body);
}
.themeic-burger-navbar-wrap .burger-menu-inner {
  padding: 50px;
}

.burger-navbar {
  font-size: 3.25rem;
  line-height: 120%;
}
.burger-navbar li a {
  color: var(--themeic-text-primary);
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

/*# sourceMappingURL=style.css.map */
